*{
    margin: 0;
    padding: 0;

}
body{
     font-family: sans-serif;
    
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background:linear-gradient(to right, #9933ff, #6666ff);
    padding: 0;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
padding: 0 10px;
}
.navbar-nav li a{
    color: white;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-solid{
    color: white;
    font-size: 30px;
}
.navbar-toggler{
    outline: none;
}
#banner{
    background:linear-gradient(to right, #9933ff, #6666ff);
    color: white;
    padding-top: 5%;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
#banner .ply-btn{
    width: 45px;
    margin:20px;

}
#banner a{
    color: white;
    text-decoration: none;
}
.bottom-img{
    width: 100%;
}